# package directories
node_modules
jspm_packages

# config
config/*.json
!config/*.example

# Logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# IDE
**/.idea

# VSCode
.vscode

# OS
.DS_Store
.tmp

# Serverless directories
.webpack
.serverless
.env
tmp
.coveralls.yml